.displayContainer {
  min-height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.restaurantGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}

.paginationContainer {
  display: flex;
  margin-top: auto;
  bottom: 10px;
}

.pageIndicator {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.activePage {
  border: 1px solid black;
}
.disabled {
  opacity: 0.7;
}
